@tailwind base;

@tailwind components;

@tailwind utilities;

@variants hover, focus{
.bg-g-green-blue{
    background-image: linear-gradient(to right, #338b85 0%, rgba(35, 164, 125, 0.73) 100%);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16)
  }
  
  .text-green-oc{
    color: #338B85
  }
  
  .border-green-oc{
    border-color: #338B85
  }
  
  .bg-green-oc{
    background-color: #338B85
  }
  
  .bg-green-oc1{
    background-color: rgb(40, 99, 95)
  }
}


input[type="radio"] + label span {
  transition: background .2s,
    transform .2s;
}

input[type="radio"] + label span:hover,
input[type="radio"] + label:hover span{
transform: scale(1.2);
} 

input[type="radio"]:checked + label span {
background-color: #3490DC; 
box-shadow: 0px 0px 0px 2px white inset;
}

input[type="radio"]:checked + label{
 color: #3490DC;
}




