@tailwind base;

@tailwind components;

/* ADMIN */
.main {
  @apply flex pt-12;
}
.sidebar {
  @apply w-48 h-screen bg-white pt-16 fixed;
}
.menu li a:hover{
  @apply bg-green-500 py-3 text-white;
}
.menu li a{
  @apply flex py-3 text-black;
}
.menu li a.active{
  @apply text-white;
}
.active {
  @apply bg-green-500 text-white;
}

/* index */
.services-section{
  @apply text-center flex-1 mx-auto mb-20;
}
.services-section>p{
  @apply my-6 mt-16 text-green-oc text-4xl;
}
.services{
  @apply flex font-semibold;
}
.service-img{
  @apply flex justify-center mx-auto h-64 w-56 my-6;
}
.service-capt{
  @apply px-20 text-green-oc;
}


@tailwind utilities;

.bg-gray-580{
  background-color: rgba(160, 174, 192, 0.8);
}

@variants hover, focus{
.bg-g-green-blue{
    background-image: linear-gradient(to right, #338b85 0%, rgba(35, 164, 125, 0.73) 100%);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16)
  }
  
  .text-green-oc{
    color: #338B85
  }
  
  .border-green-oc{
    border-color: #338B85
  }
  
  .bg-green-oc{
    background-color: #338B85
  }
  
  .bg-green-oc1{
    background-color: rgb(40, 99, 95)
  }
}



input[type="radio"] + label span {
  transition: background .2s,
    transform .2s;
}

input[type="radio"] + label span:hover,
input[type="radio"] + label:hover span{
transform: scale(1.2);
} 

input[type="radio"]:checked + label span {
background-color: #3490DC; 
box-shadow: 0px 0px 0px 2px white inset;
}

input[type="radio"]:checked + label{
 color: #3490DC;
}




